.support-index {
  display: flex;
  align-items: flex-start;
}

.support-index .support-tickets {
  flex: 0 0 100%;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.support-index .load-more-tickets {
  text-align: center;
  margin-top: 8px;
}

.support-index .load-more-tickets a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.support-index .load-more-tickets a i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.support-index .load-more-tickets a span {
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #047bf8;
}

.support-index .load-more-tickets a i + span {
  margin-left: 10px;
}

.support-index .support-tickets-header h5 {
  margin-bottom: 0px;
}

.support-index .support-tickets-header .tickets-control {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.support-index .support-tickets-header .tickets-control .element-search {
  position: relative;
  margin-left: auto;
}

.support-index .support-tickets-header .tickets-control .element-search:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'osfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 48%;
  transform: translateY(-50%);
  font-size: 16px;
  content: "\e92c";
  color: rgba(0, 0, 0, 0.2);
}

.support-index .support-tickets-header .tickets-control .element-search input {
  border: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  padding: 4px 10px 4px 40px;
  display: block;
  width: 100%;
  font-size: 0.81rem;
  outline: none;
}

.support-index .support-tickets-header .tickets-control .element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.support-index .support-tickets-header .tickets-control .element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.support-index .support-tickets-header .tickets-control .element-search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.support-index .support-tickets-header .tickets-control .element-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.support-index .support-tickets-header .tickets-control .element-search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.support-index .support-tickets-header .tickets-control .element-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.support-index .support-tickets-header .tickets-filter {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  display: flex;
}

.support-index .support-tickets-header .tickets-filter .form-check {
  margin-bottom: 0px;
}

.support-index .support-tickets-header .tickets-filter .form-check label.form-check-label {
  vertical-align: middle;
  padding-left: 5px;
}

.support-index .support-tickets-header .tickets-filter .form-group {
  white-space: nowrap;
  margin-bottom: 0px;
}

.support-index .support-tickets-header .tickets-filter .form-group label {
  margin-bottom: 0px;
}

.support-index .support-tickets-header .tickets-filter select.form-control-sm, .support-index .support-tickets-header .tickets-filter .input-group-sm > select.form-control, .support-index .support-tickets-header .tickets-filter
.input-group-sm > .input-group-prepend > select.input-group-text, .support-index .support-tickets-header .tickets-filter
.input-group-sm > .input-group-append > select.input-group-text, .support-index .support-tickets-header .tickets-filter
.input-group-sm > .input-group-prepend > select.btn, .support-index .support-tickets-header .tickets-filter .all-wrapper
.input-group-sm > .input-group-prepend > select.fc-button, .all-wrapper .support-index .support-tickets-header .tickets-filter
.input-group-sm > .input-group-prepend > select.fc-button, .support-index .support-tickets-header .tickets-filter
.input-group-sm > .input-group-append > select.btn, .support-index .support-tickets-header .tickets-filter .all-wrapper
.input-group-sm > .input-group-append > select.fc-button, .all-wrapper .support-index .support-tickets-header .tickets-filter
.input-group-sm > .input-group-append > select.fc-button {
  background-color: #fff;
}

.support-index .support-tickets-header .tickets-filter .stick-right {
  margin-left: auto;
}

.support-index .support-ticket {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  transition: all 0.3s ease;
  position: relative;
}

.support-index .support-ticket + .support-ticket {
  margin-top: 20px;
}

.support-index .support-ticket:hover, .support-index .support-ticket.active {
  box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2), 0px 0px 0px 2px #047bf8;
  transform: translateY(-3px);
  cursor: pointer;
}

.support-index .support-ticket:hover .ticket-title, .support-index .support-ticket.active .ticket-title {
  color: #047bf8;
}

.support-index .support-ticket.active {
  transform: none;
}

.support-index .st-meta {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 99;
  display: flex;
  align-items: center;
}

.support-index .st-meta > div {
  margin-left: 10px;
}

.support-index .st-meta > i {
  margin-left: 10px;
  color: #EAA81D;
  font-size: 16px;
}

.support-index .st-meta .badge {
  font-size: 0.72rem;
  padding: 2px 5px;
}

.support-index .st-body {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.support-index .st-body .avatar {
  flex: 0 0 50px;
  padding-right: 15px;
}

.support-index .st-body .avatar img {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.support-index .st-body .ticket-content .ticket-title {
  margin-bottom: 5px;
}

.support-index .st-body .ticket-content .ticket-description {
  color: #636c72;
  font-size: 0.81rem;
  font-weight: 300;
  height: 1.215rem;
  overflow: hidden;
}

.support-index .st-foot {
  padding: 10px 20px;
  font-size: 0.81rem;
}

.support-index .st-foot .label {
  color: #636c72;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}

.support-index .st-foot .value {
  vertical-align: middle;
  display: inline-block;
  color: #047bf8;
}

.support-index .st-foot a.value span {
  border-bottom: 1px solid #047bf8;
}

.support-index .st-foot a.value.with-avatar img {
  width: 25px;
}

.support-index .st-foot .label + .value {
  margin-left: 10px;
}

.support-index .st-foot .value + .label {
  margin-left: 20px;
}

.support-index .support-ticket-content-w {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  border-radius: 6px;
  display: flex;
  position: relative;
}

.support-index .support-ticket-content-w .support-ticket-content {
  flex: 1;
  padding: 10px 30px;
  padding-right: 60px;
  position: relative;
}

.support-index .support-ticket-content-w .support-ticket-content .support-ticket-content-header {
  display: flex;
  margin-bottom: 30px;
  padding: 10px 0px;
}

.support-index .support-ticket-content-w .support-ticket-content .support-ticket-content-header .show-ticket-info {
  margin-left: auto;
  flex: 0 0 auto;
  padding-left: 20px;
  padding-top: 5px;
}

.support-index .support-ticket-content-w .support-ticket-content .support-ticket-content-header h3, .support-index .support-ticket-content-w .support-ticket-content .support-ticket-content-header h4 {
  margin-bottom: 0px;
}

.support-index .support-ticket-content-w .support-ticket-content .show-ticket-info,
.support-index .support-ticket-content-w .support-ticket-content .back-to-index {
  display: none;
  text-decoration: none;
  white-space: nowrap;
}

.support-index .support-ticket-content-w .support-ticket-content .show-ticket-info span,
.support-index .support-ticket-content-w .support-ticket-content .back-to-index span {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #636c72;
  letter-spacing: 1px;
  font-size: 0.72rem;
  font-weight: 500;
}

.support-index .support-ticket-content-w .support-ticket-content .show-ticket-info i,
.support-index .support-ticket-content-w .support-ticket-content .back-to-index i {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
}

.support-index .support-ticket-content-w .support-ticket-content .show-ticket-info span + i,
.support-index .support-ticket-content-w .support-ticket-content .back-to-index span + i {
  margin-left: 7px;
}

.support-index .support-ticket-content-w .support-ticket-content .show-ticket-info:hover span,
.support-index .support-ticket-content-w .support-ticket-content .back-to-index:hover span {
  color: #047bf8;
}

.support-index .support-ticket-content-w .support-ticket-content .back-to-index i {
  font-size: 12px;
}

.support-index .support-ticket-content-w .support-ticket-content .back-to-index span {
  margin-left: 10px;
}

.support-index .support-ticket-content-w .ticket-header {
  margin-bottom: 40px;
}

.support-index .support-ticket-content-w .ticket-reply {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
}

.support-index .support-ticket-content-w .ticket-reply:last-child {
  border-bottom: none;
}

.support-index .support-ticket-content-w .ticket-reply + .ticket-reply {
  margin-top: 20px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info {
  padding: 10px 0px;
  margin-bottom: 5px;
  position: relative;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .badge {
  vertical-align: middle;
  display: inline-block;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #047bf8;
  text-decoration: none;
  cursor: pointer;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions > i {
  vertical-align: middle;
  display: inline-block;
  transition: all 0.3s ease;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list {
  position: absolute;
  background-color: #0f2338;
  color: #fff;
  font-size: 0.9rem;
  padding: 12px 12px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
  top: 0px;
  right: 0px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a:last-child {
  border-bottom: none;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a i {
  font-size: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #fff;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a span {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a:hover span {
  color: #fff;
  transform: translateX(-3px);
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a.danger i {
  color: #ff5b5b;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions .actions-list a.danger span {
  color: #ff5b5b;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions:hover > i {
  transform: rotate(180deg);
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .actions:hover .actions-list {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .author {
  display: inline-block;
  vertical-align: middle;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .info-data {
  display: inline-block;
  vertical-align: middle;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .info-data .label {
  color: #636c72;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .info-data .value {
  display: inline-block;
  vertical-align: middle;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-info > span + span {
  margin-left: 10px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-content {
  padding: 20px 25px;
  margin-left: 15px;
  font-size: 0.99rem;
  background-color: #f3f3f7;
  border-radius: 6px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-reply-content p:last-child {
  margin-bottom: 0px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-attachments {
  text-align: right;
  margin-top: 10px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-attachments .attachment {
  display: inline-block;
  padding: 5px 10px;
  padding-right: 20px;
  margin-bottom: 5px;
  background-color: #F6F7F8;
  color: #047bf8;
  border-radius: 6px;
  font-size: 0.72rem;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-attachments .attachment i {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 10px;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-attachments .attachment span {
  display: inline-block;
  vertical-align: middle;
}

.support-index .support-ticket-content-w .ticket-reply .ticket-attachments .attachment + .attachment {
  margin-left: 20px;
}

.support-index .support-ticket-content-w .ticket-reply.highlight .ticket-reply-info {
  border-bottom: none;
}

.support-index .support-ticket-content-w .ticket-reply.highlight .ticket-reply-content {
  background-color: #fff6d7;
}

.support-index .support-ticket-content-w .support-ticket-info {
  background-color: #F6F7F9;
  background: linear-gradient(to bottom, #eff1f7, #f9fafc);
  padding: 30px 20px;
  border-radius: 6px;
  flex: 0 0 250px;
  position: relative;
}

.support-index .support-ticket-content-w .support-ticket-info .close-ticket-info {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #047bf8;
  text-decoration: none;
  font-size: 20px;
}

.support-index .support-ticket-content-w .support-ticket-info .info-header {
  color: #047bf8;
  text-align: center;
  margin-bottom: 15px;
}

.support-index .support-ticket-content-w .support-ticket-info .info-section {
  padding: 0px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.support-index .support-ticket-content-w .support-ticket-info .info-section .label {
  color: #636c72;
  display: block;
  margin-bottom: 5px;
}

.support-index .support-ticket-content-w .support-ticket-info .info-section .value {
  display: block;
}

.support-index .support-ticket-content-w .support-ticket-info .info-section .value + .label {
  margin-top: 10px;
}

.support-index .support-ticket-content-w .support-ticket-info .info-section:last-child {
  margin-bottom: 0px;
  border-bottom: none;
  padding-bottom: 0px;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list li {
  margin-bottom: 10px;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li {
  text-align: center;
  flex: 0 0 47%;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a {
  display: block;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  padding: 10px;
  border-radius: 6px;
  margin: 0px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a span {
  display: block;
  border-bottom: none;
  color: #3E4B5B;
  font-size: 0.72rem;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a .avatar {
  margin: 0px;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  background-size: cover;
  display: inline-block;
  border-radius: 50px;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a i {
  margin-right: 0px;
  margin-bottom: 10px;
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a:hover {
  box-shadow: 0px 5px 12px rgba(126, 142, 177, 0.2);
  transform: translateY(-3px);
}

.support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a:hover span {
  color: #047bf8;
}

.support-index .support-ticket-content-w .support-ticket-info .customer {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.support-index .support-ticket-content-w .support-ticket-info .customer .avatar {
  margin-bottom: 10px;
}

.support-index .support-ticket-content-w .support-ticket-info .customer .avatar img {
  border-radius: 50px;
  width: 100px;
  height: auto;
}

.support-index .support-ticket-content-w .support-ticket-info .customer .customer-name {
  margin-bottom: 5px;
}

.support-index .support-ticket-content-w .support-ticket-info .customer .customer-tickets {
  color: #636c72;
}

.support-index .support-ticket-content-w.folded-info .support-ticket-content {
  padding-right: 30px;
}

.support-index .support-ticket-content-w.folded-info .support-ticket-info {
  display: none;
}

.support-index .support-ticket-content-w.folded-info .show-ticket-info {
  display: inline-block;
}

.color-scheme-dark .support-index .st-meta .badge {
  border: rgba(0, 0, 0, 0.5) !important;
}

.color-scheme-dark .support-index .st-body .ticket-content .ticket-description {
  color: #ccd9e8;
}

.color-scheme-dark .support-index .st-foot {
  background-color: rgba(0, 0, 0, 0.05);
}

.color-scheme-dark .support-index .st-foot .label {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control, .color-scheme-dark .support-index .support-tickets-header .tickets-filter {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.color-scheme-dark .support-index .support-ticket {
  background-color: #323c58;
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

.color-scheme-dark .support-index .support-ticket.active, .color-scheme-dark .support-index .support-ticket:hover {
  background-color: #047bf8;
}

.color-scheme-dark .support-index .support-ticket.active .ticket-title, .color-scheme-dark .support-index .support-ticket:hover .ticket-title {
  color: #fff;
}

.color-scheme-dark .support-index .support-ticket.active .st-foot a.value, .color-scheme-dark .support-index .support-ticket.active .st-foot .value, .color-scheme-dark .support-index .support-ticket:hover .st-foot a.value, .color-scheme-dark .support-index .support-ticket:hover .st-foot .value {
  color: #fff;
}

.color-scheme-dark .support-index .support-ticket.active .label, .color-scheme-dark .support-index .support-ticket:hover .label {
  color: rgba(255, 255, 255, 0.6);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-filter label {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-filter select {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.4);
  color: #ccd9e8;
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search:before {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input::-webkit-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input:-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input::-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input::-webkit-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input:-ms-input-placeholder {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-tickets-header .tickets-control .element-search input::placeholder {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-ticket-content-w {
  background-color: #323c58;
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

.color-scheme-dark .support-index .support-ticket-content-w .ticket-reply {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.color-scheme-dark .support-index .support-ticket-content-w .ticket-reply .ticket-reply-info .info-data .label {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-ticket-content-w .ticket-reply .ticket-attachments .attachment {
  background-color: #293148;
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info {
  background-image: none;
  background-color: #293148;
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a {
  background-color: #3b4768;
  box-shadow: 0px 5px 15px rgba(22, 22, 35, 0.1);
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info ul.users-list.as-tiles li a span {
  color: #ccd9e8;
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info .info-section {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info .info-section .label {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info .customer {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}

.color-scheme-dark .support-index .support-ticket-content-w .support-ticket-info .customer .customer-tickets {
  color: rgba(218, 226, 243, 0.4);
}

.color-scheme-dark .support-index .support-ticket-content-w .ticket-reply .ticket-reply-content {
  background-color: #3b4768;
}

/*# sourceMappingURL=app.css.map */
